.description_div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    margin-bottom: 200px;
}

.name {
    font-size: 50px;
    font-weight: bold;
}

.location {
    font-size: 30px;
    font-weight: 400;
}

.description {
    font-size: 30px;
    font-weight: 300;
    width: 80vw;
}

.link {
    font-size: 30px;
}

.image_blog {
    height: 40vh;
    width: 80vw;
}