.profile_content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 200px;
}

.creator {
    font-size: 70px;
    color: black;
}

.creator_details {
    font-size: 40px;
    font-weight: 400;
}

.sponser_text {
    font-size: 50px;
    font-weight: 500;
    margin-top: 100px;
}

.danger_btn {
    height: 60px;
    width: 200px;
    background-color: red;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 20px;
    border: none;
    margin: 30px;
    cursor: pointer;
    position: relative;
    left: -30px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80vh;
    margin-top: 100px;
    margin-bottom: 50px;
    position: relative;
    left: -50px;
}

.request {
    height: 100px;
    width: 300px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.user_image {
    border-radius: 50%;
}

.anime {
    height: 400px;
    width: 400px;
    animation-name: anime;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: rotateZ(0deg);
    background-image: url("https://img.freepik.com/premium-vector/waving-hand-vector-icon-waving-hand-gesture-symbol-isolated-white-background-vector-eps-10_532800-303.jpg");
    background-size: cover;
    transform-origin: bottom;
}

@keyframes anime {
    33% {
        transform: rotateZ(30deg);
    }
    66% {
        transform: rotateZ(-20deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

#sent {
    background-color: lime
}

#recieve {
    background-color: orange;
}

@media (max-width:768px) {
    .profile_content {
        padding: 100px;
        flex-direction: column;
    }
}

@media (max-width:425px) {
    .profile_content {
        margin-left: 50px;
    }
    .creator_details {
        font-size: 20px;
    }
    .request {
        height: 80px;
        width: 240px;
        font-size: 17px;
    }
    .user_image {
        height: 50px;
        width: 50px;
    }
    .anime {
        display: none;
    }
}

@media (max-width:320px) {
    .profile_content {
        padding-left: 30px;
    }
    .creator_details {
        font-size: 20px;
    }
    .creator {
        font-size: 50px
    }
    .request {
        height: 80px;
        width: 240px;
        font-size: 17px;
    }
}